.video_precontenedor{width:100%;display:flex;margin:1em auto;}
.video-container {overflow: hidden;position: relative;width:100%;}
.video-container::after {padding-top: 56.25%;display: block;content: '';}
.video-container iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.demo {width:75%;margin:0 auto;}
.demo ul {list-style: none outside none;padding-left: 0;margin-bottom:0;}
.demo li {display: block;float: left;margin-right: 6px;cursor:pointer;}
.demo img {display: block;height: auto;max-width: 100%;}
.demo h4{margin:0em;}
.demo p {margin-top:0em;margin-bottom:1em;padding-bottom:1em;border-bottom:solid 1px rgba(206,206,206,1.00);}
.control_video{display:block;}
/*.lSSlideOuter .lSPager.lSGallery {width:100%!important;}
.lSSlideOuter .lSPager.lSGallery li {width:150px!important;display:inline-block;}
@media (max-width:600px) {.demo{width:100%;}#vertical{with:400px;}.lSSlideOuter .lSPager.lSGallery li {width:100px!important;display:inline-block;}}*/