.pre_header{display:flex;justify-content:space-between;width:100%;margin:0 auto;}
.pre_header1{display:flex;align-items: center;font-size:1.3em;}
.bg-image-4 {clor:#000;
    background-image: url(../../imagenes/clinica-ile-legal-cdmx.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}
.progress-circle-counter{font-size:1.7em;}
.progress-circle-counter, .progress-bar-circle-title{color:#000!important;}
.blurb-minimal__icon img{width:2em;}
html.rd-navbar-fixed-linked .page {padding-top:0px;}
.bg-accent .button-black, .bg-secondary-7 .button-black, .button-black {
    color: #fff;background-color:#b6478d!important;border-color:#b6478d!important;}
header .unit-left{font-size: 2em;color: #B0478D;}
.list-semicolon > li + li:before {
    display: inline-block;
    margin-right: 4px;
    content: '|';
}
.rd-navbar-static .rd-navbar-nav-wrap {flex-direction: row;-webkit-flex-direction: row;padding-left:1em;}
.breadcrumbs-custom__title {font-size: 24px;font-weight:100;text-align:left;}
.row {margin-right:0px;margin-left:0px}
.section-xl{padding-top:40px;padding-bottom:40px;}
.section-sm{padding-top:80px;}
.entry-video{margin-bottom:1em;}

.list1{}
.list1 li{margin:0 0 1em 0;}

.icon2em{font-size:2em!important;}
.txt_cont{}
.txt_cont h1{}
.txt_cont h2{display:block;width:100%;font-size:2.2em;}
.txt_cont h3{display:block;width:100%;font-size:1.5em;}
.txt_cont h4{font-size:1.2em;}
.txt_cont p {width: 100%!important;}
.txt_cont ol{display: block;width: 100%;padding-left:1em;}
.txt_cont ol li{margin-bottom:0.5em;display:list-item;list-style:decimal!important;}
.txt_cont ul{display: block;width: 100%;padding-left:1em;}
.txt_cont ul li{margin-bottom:0.5em;}
.parallax-container{margin-bottom:2em;}

.video_precontenedor{width:100%;display:flex;margin:2em auto;}
.video-container {overflow: hidden;position: relative;width:100%;}
/*.video-container::after {padding-top: 56.25%;display: block;content: '';}*/
.video-container iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.video_img{margin-bottom:1em;}
.paddingT1em{padding-top:1em;}.paddingB1em{padding-bottom:1em;}
.video_relacionado{}
.video_relacionado h5{margin-top:0.5em;}

.break{width:100%;display:flex;height:2em;}

/*.ofertas_list {display: flex;flex-direction: column;}
.ofertas_list_item {width:33%;}*/
.ofertas_detalle{}
.ofertas_detalle h2{margin-bottom:1em;font-size:2.5em;}
.ofertas_detalle h3{font-size:1.7em;}
.ofertas_detalle_txt{margin:1em 0;}
.ofertas_detalle figure img {display: block;height: auto;}
.form_control_ancho .col-lg-10, .form_control_ancho .col-xl-8{width:100%;}

.modalnew_bg{position:fixed;left:0;top:0;width:100%;height:100%;align-content:center;justify-content:center;padding:1em;overflow-y:auto;background:rgba(0,0,0,0.60);z-index:99999;}
.modalnew{display: flex;flex-direction: column;max-width: 450px;min-width:320px;height:min-content;margin:auto;padding:1em;text-align:center;border-radius:1em;background:#fff;}
.modalnew h3{font-size:2em;}.modalnew h4{font-size:1.3em;}
.modalnew_llamar{width:300px;max-width:300px;}
.modalnew_body{margin-top:1em;overflow-y: auto;}
.modalnew_body ul{margin:0em 0;padding:0;list-style:none;}
.modalnew_body ul li{position:relative;width:100%;margin-bottom:1em;}
.modalnew_body small{font-size:0.7em;}
.contador{position:absolute;right:0;bottom:0;padding:10px;background:#fff;}
.aviso_error {width: 100%;margin: 0 0 20px 0;padding: 10px;float: left;color: #8e4c4c;border: solid 1px #ea8383;background:#fe9595;}
.aviso_error ul {margin: 0;padding: 0;list-style: none;text-align: left;}
.aviso_error ul li{margin:0!important;padding:0 0 5px 0;}
.error_txt{border: solid 1px #ea8383;}

.cabecera_btn{position:fixed;width:100%;margin:0;padding:0.5em;display:none;justify-content:space-between;border-bottom:solid 1px #c2c2c2;background:#f8f8f8;z-index:100399;}
.btn_cab{width:49%;display:inline-block;padding:1em;text-align:center;color: #fff;border-radius:2em;background-color: #b6478d;}
.btn_cab img{width:22px;margin-right:10px;display:inline-block;}

.tabla{border:solid 1px #BFBFBF;}
.tabla td{padding:5px;border:solid 1px #BFBFBF;}

.placereviews img{width:32px;}
.google-map{height:300px;}

.swiper-vertcal {height:350px!important;}
.swiper-slide-caption h1{font-size:2.3em!important;}
.swiper-slide-caption p{font-size:1.2em;}
.swiper-slide-caption .container{max-width:600px;padding:0.5em;background: hsla(0,0%,100%,0.75);}
.slide_color{color:#343434!important;}
.lSSlideOuter{display:block;max-width:800px;margin:1em auto;}

.post-single-body{}
.post-single-body h2{font-size:30px;}
.post-single-body h3{font-size:26px;}
.post-minimal img{width:100%;height:auto;}

.blog_list_item{width:45%;display:inline-flex;margin:1em 1em 2em 1em;}
.blog_list_item img{}
.blog_list_intro{}
.oferta_list_item{width:45%;display:inline-flex;flex-direction:column;margin:1em 1em 2em 1em;}
.oferta_list_item img{width:100%;height:auto;}
.oferta_list_intro{}
.oferta_list_precio{font-size:2em;}

.post-classic img{height:auto;}
.post-classic .post-meta{margin:10px 0px;}
.post-classic .post-classic-body{margin-top:0px;}
.post-single-body {margin-bottom: 0;padding-bottom: 1em;}
/*.post-single-body figure {max-width: 600px;margin: 0 auto;display: block;height: auto;}
.post-single-body figure img {display: block;height: auto;}*/

.pre-footer-corporate{padding:3em 0;}


.video_list{}
.video_list img{width:600px;display:block;margin:auto;}
.video_list .post-meta, .video-container .post-meta{margin:10px 0px;}
.video_list .post-classic-body, .video-container .post-classic-body{margin-top:0px;}

.infografia{display:flex;justify-content:center;margin:1em 0;}
.infografia img{max-width:800px;}

.infografia_galeria{max-width:800px;display:flex;flex-direction:column;margin:1em auto;}
.infografia_galeria_cont{display:flex;margin-bottom:1em;flex-direction:column;justify-content:center;margin:1em 0;}
.infografia_galeria_img img{width:100%;margin-bottom:1em;}
.infografia_descargas{display:flex!important;margin:1em 0;padding:0!important;}
.infografia_descargas li{margin:0.5em;padding:0;display:flex;align-items:center;}
.infografia_descargas img{width:25px;margin-right:0.5em;padding:0.3em;border-radius:0.2em;background:#aa428d;}
.infografia_galeria_min{position:relative;display:flex;align-items:center;}
.infografia_galeria_min ul{display:flex;margin:0;padding:0;}
.infografia_galeria_min li{margin:0 0.3em;list-style:none;}
.infografia_galeria_min li img{width:120px;}
.btn_iz{position:absolute;left:0;z-index:9;}
.btn_der{position:absolute;right:0;z-index:9;}

/*.pre-footer-corporate .row-30{margin-bottom: -100px}*/
@media (max-width:520px) {
        .cabecera_btn{display:flex;}
        .rd-navbar-fixed .rd-navbar-brand {top:79px;}
        .rd-navbar-fixed .rd-navbar-panel, .rd-navbar-top-panel__toggle, .rd-navbar-fixed .rd-navbar-fixed__element-1 {top:65px}
        .brand {margin-top: -20px;}
        .rd-navbar-fixed .rd-navbar-top-panel__content {top:120px;}
        .rd-navbar-fixed .rd-navbar-nav {margin:75px 0 0 0}
        .breadcrumbs-custom{margin-top:120px!important;}
    }

@media (max-width:1200px) {
    .pre_header{flex-direction:column;}
    .pre_header1{margin-bottom:1em;}
    .breadcrumbs-custom{margin-top:0px;}
}
@media (min-height: 800px) and (min-width: 1200px){
    .section-xl {padding-top:40px;padding-bottom:40px;}
}
@media (max-width:700px) {
    .swiper-vertcal{margin-top:60px;}
    .swiper-slide-caption p{font-size:1.2em;}
    .blog_list_item{width:100%;margin:0 0 4em 0;}
}
/*@media (max-width: 900px) {
    .cabecera_btn{display:flex!important;}
    .rd-navbar-fixed .rd-navbar-brand {top:79px;}
    .rd-navbar-fixed .rd-navbar-panel, .rd-navbar-top-panel__toggle, .rd-navbar-fixed .rd-navbar-fixed__element-1 {top:79px}
    .rd-navbar-fixed .rd-navbar-top-panel__content {top: 133px;}
    .rd-navbar-fixed .rd-navbar-nav {margin: 80px 0 0 0}
    }*/

@media (min-width: 768px) { 
	.swiper-vertcal {min-height: 700px;}
    .video_precontenedor{width:100%;display:flex;margin:2em auto;}
.video-container {overflow: hidden;position: relative;width:100%;}
/*.video-container::after {padding-top: 56.25%;display: block;content: '';}*/
    .video-container iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.video_img{margin-bottom:1em;}
.paddingT1em{padding-top:1em;}.paddingB1em{padding-bottom:1em;}
.video_relacionado{}
.video_relacionado h5{margin-top:0.5em;}
}

@media (min-width: 1200px) {
	.swiper-vertcal {height: 60vh;}
}

@media (min-width: 992px){
    .desktop .rd-navbar-corporate-linked .swiper-slider_fullheight {min-height: calc(800px - 215px);}
}
@media (max-width: 992px){
    .breadcrumbs-custom {margin-top: 55px;}
}
@media (min-width: 700px){.swiper-slider_fullheight {min-height: calc(100vh - 56px);height: auto;}}
.swiper-slider_fullheight {min-height: calc(100vh - 56px);height: auto;}

.ui-datepicker{
    z-index: 9999999 !important
}

.has-error .form-input, .has-error .form-control, .promo_error {
    border: 1px solid #e50a0a !important;
}

#appointmentSuccess, #appointmentSuccess2 {
    margin: 0 0 20px 0;
    padding: 10px;
    color: #50885c;
    border: solid 1px #a0c6aa;
    background: #bad7c1;
}

#appointmentError, #appointmentError2 {
    margin: 0 0 20px 0;
    padding: 10px;
    color: #8e4c4c;
    border: solid 1px #ea8383;
    background: #fe9595;
}

.form-control {
    font-weight: inherit;
}

ul.placereviews li {
    margin-bottom: 20px;
}

ul.placereviews li img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

ul.placereviews li span {
    font-weight: 600;
}

ul.placereviews .checked {
    color: orange;
}

.star {
    font-size: x-large;
    width: 25px;
    display: inline-block;
}
.star:before {
    content:'\f005';
}
.star.checked {
    color: orange;
}
.star.checked-half:after {
    content:'\f005';
    color: orange;
    position: absolute;
    margin-left: -22px;
    width: 10px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .home-post:first-child {
        margin-left: 16.66666%;
    }
}
